[2021-11-01 12:03] redcliff-op opened #38 "New maintainer"
**Device and Codename**
Device - Poco X2 ( Redmi K30 )
Codename - Phoenix

**Sources**
Kernel Tree - https://github.com/redcliff-op/android_kernel_xiaomi_phoenix.git
Device Tree - https://github.com/redcliff-op/device_xiaomi_phoenix.git
Vendor Tree - https://github.com/redcliff-op/vendor_xiaomi_phoenix.git

**Other ROM's I maintain**
Octavi
DerpFest

**Bugs on unofficial build**
None

**How long h

[2021-11-01 12:11] spkal01 commented on #38
Everything seems fine and up 2 the requirements !

[2021-11-01 12:11] #38 closed, assigned to spkal01

[2021-11-21 13:23] tioburla opened #39 "New maintainer"
## Device you want to apply for
'Redmi 4X'
Your device name and codename
`Redmi 4X(SANTONI)`

## Device tree sources

[code]
Insert here
[code]
Insert here
BlissROM

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]
I read everything properly and I violate none of the requirements.
Yes

## SELinux status?
[code]

## Are you using a prebuilt kernel? If yes, why?
[co

[2021-11-21 13:27] spkal01 commented on #39
Your trees aren't adapted to spark I can only see a bliss branch

[2021-11-22 13:03] spkal01 commented on #39
24 hours have passed no progress has be done I'm closing the issue. You can  re open one once you adress all the issues mentioned above

[2021-11-22 13:03] #39 closed, assigned to spkal01

[2021-11-29 13:58] ghost opened #40 "New Maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2021-11-29 14:17] ghost commented on #40
Update dt source link.

[2021-11-29 14:57] spkal01 commented on #40
Everything looks good
Status: Accepted

[2021-11-29 14:57] #40 closed, assigned to spkal01

[2021-11-30 13:37] tusharind007 opened #41 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2021-12-01 13:33] spkal01 commented on #41
Everything looks good
Status: Accepted

[2021-12-01 13:33] #41 closed, assigned to spkal01

[2021-12-07 14:06] Krxyzn opened #42 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2021-12-09 06:06] #42 closed, assigned to spkal01

[2021-12-21 18:05] Krxyzn opened #43 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2021-12-21 18:08] spkal01 commented on #43
1 Your tree isn't adapted to spark
2 What does fpc stand for ?

[2021-12-22 20:04] spkal01 commented on #43
Sorry you aren't accepted mate as your tree doesn't have a satisfying bring up commit. More specifically you have 3 commits that should have been rebased + you don't have much history or progress on the tree. If you want you can re apply after fixing the above issues. Good luck

[2021-12-22 20:04] #43 closed, assigned to spkal01

[2021-12-28 08:15] resist15 opened #44 "New maintainer - Xiaomi POCO F1"
## Device you want to apply for
[code]

## Device tree sources

[code]
## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/blob/eleven/requirements.md) and [Maintainer requirements](https://github.com/Spark-Rom/official_devices/blob/eleven/maintainerreq.md) before

[2021-12-28 08:30] spkal01 commented on #44
Everything looks fine.

Status: Accepted

[2021-12-28 08:32] #44 closed, assigned to spkal01

[2021-12-28 16:05] mrfox2003 opened #45 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2021-12-28 16:24] spkal01 commented on #45
Everything looks fine Status: Accepted

[2021-12-28 16:24] #45 closed, assigned to spkal01

[2021-12-31 09:22] RsydAl587 opened #46 "New maintainer"
## Device you want to apply for
[code]
https://github.com/RasyidAlKautsar/android_device_xiaomi_mido
https://github.com/RasyidAlKautsar/kernel_mido
https://github.com/Redmi-note-4x/proprietary_vendor_xiaomi
[code]
https://t.me/mido_universal/13005
[code]
NusantaraProject, Project-Awaken, CherishOS
[code]
None
[code]
2 Months
[code]
I read everything properly and I violate none of the requirements.

[2021-12-31 09:56] spkal01 commented on #46
Hello thanks for applying everything device side looks good but we only accept people who maintain along with spark 3 roms in total

[2021-12-31 09:58] RsydAl587 commented on #46
ok, sir
I dropped Nusantara Project Unofficial because A11

[2021-12-31 10:01] spkal01 commented on #46
Oke so 2 last things and you are accepted
1 https://github.com/RasyidAlKautsar/android_device_xiaomi_mido/commit/e4a59e74268076802145bba06fb32fc47f819145

Drop this commit as we include graphene camera by default
2 https://github.com/RasyidAlKautsar/android_device_xiaomi_mido/blob/50c5b25c31f438d8ec57dac05986912b481bc47e/system.prop
 Create a support group if you haven't already and put the link h

[2021-12-31 10:01] RsydAl587 commented on #46
ok, sir

[2021-12-31 10:11] RsydAl587 commented on #46
https://github.com/RasyidAlKautsar/android_device_xiaomi_mido/commits/Spark-12
Correct, sir?

[2021-12-31 10:26] spkal01 commented on #46
Yes
Status: Accepted

[2021-12-31 10:26] #46 closed, assigned to spkal01

[2022-01-15 10:37] Vitorgl2003 opened #47 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-01-16 09:58] Dhruvesh16 opened #48 "New maintainer"
## Device you want to apply for
[code]
Insert here
https://t.me/RealmeXT/2681

## Other ROM's you maintain officially or unofficially
Insert here
Official:Pixel Plus UI
Unofficial: PixelExtended,Arrow,havoc

## Bugs on unofficial build
[code]
Weeks/Months/Years
1 month

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/blob/eleven/requirements.m

[2022-01-16 10:42] spkal01 commented on #47
Seems good
Status: Accepted

[2022-01-16 10:42] #47 closed, assigned to spkal01

[2022-01-20 11:10] Faisalhossainerfan opened #49 "New Maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-01-27 20:29] spkal01 commented on #49
Hey you need to address some things
1 Answer with a valid time amount at the question "how long have you been building for"
2 your sparkify commit is a bit messy maybe split it up

[2022-01-27 20:30] spkal01 commented on #48
Hey everything seems mostly fine but your experience is very little are you sure you can pull it off ? Also how would you rate your git skills.from 1-10

[2022-01-28 01:40] Dhruvesh16 commented on #48
Yes just started I am learning new things but I can manage,git skills 6-7

[2022-01-28 01:40] Dhruvesh16 commented on #48
Yes just started I am learning new things but I am confident that I can manage,git skills I would rate 6, I am practicing it daily

[2022-01-28 09:03] mrtechnostart opened #50 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-01-30 15:45] Faisalhossainerfan commented on #49
Sir question 2 i don’t understand what messy. did you mean split cleanups in 2/3 commits?

[2022-01-31 17:03] th4rv4 opened #51 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-01-31 17:55] spkal01 commented on #48
Thank you for your patience and your honest answer. You are accepted but before that you need to drop some roms you maintain so you have  a max of 3 with spark

[2022-01-31 17:57] spkal01 commented on #51
Looks good . Only bummer is that the build is Permissive. Any reason why its not enforcing ?

[2022-01-31 18:00] Dhruvesh16 commented on #48
Sure

[2022-01-31 18:00] Dhruvesh16 commented on #48
Sure will drop  havoc and arrow

[2022-01-31 18:16] Dhruvesh16 commented on #48
Removed arrow  nusantara and havoc you can check the device tree

[2022-01-31 18:36] th4rv4 commented on #51
Actually It's Been Only A Month Or So Since We Have Unified Our Sources And Did A Complete A12 Bringup....So It is at its early stage that's y it's Permissive for now.

[2022-01-31 19:24] #48 closed, assigned to spkal01

[2022-02-02 08:09] mrtechnostart commented on #50
Sir Waiting For Your Reply

[2022-02-02 08:15] spkal01 commented on #50
Keep waiting

[2022-02-02 11:25] mrtechnostart commented on #50
Ohk

[2022-02-02 11:25] mrtechnostart commented on #50
Waiting Sir

[2022-02-03 19:17] spkal01 commented on #49
Status: Rejected no contributions on dt  + invalid building time answer on form.

[2022-02-03 19:17] #49 closed, assigned to spkal01

[2022-02-03 19:17] spkal01 commented on #50
Hwvw you been making roms in total for 2 weeks ?

[2022-02-04 00:41] mrtechnostart commented on #50
Hello Sir, Me Started Learning From 18 Jan 2022

[2022-02-04 00:42] mrtechnostart commented on #50
But my git skills are 6+/10 and i am learning daily, you can check that from my contributions on my github profile

[2022-02-06 07:00] spkal01 commented on #51
Status: Accepted

[2022-02-06 07:00] #51 closed, assigned to spkal01

[2022-02-08 15:09] spkal01 commented on #50
Status Accepted

[2022-02-08 15:09] #50 closed, assigned to spkal01

[2022-02-16 12:19] XBIZART opened #52 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-02-21 16:42] spkal01 commented on #52
Everything looks good only issues I have with your form is the amount of roms you maintain. We only accept people who maintain max 3 roms along with spark

[2022-02-26 21:48] spkal01 commented on #52
This issue will be closed automatically on 24h cause of inactivity

[2022-02-27 19:47] #52 closed

[2022-02-27 21:15] MudabbirulSaad opened #53 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-02-28 09:16] spkal01 commented on #53
Status Declined

Reason: 0 contributions + tree not adapted to spark + insufficient experience

[2022-02-28 09:16] #53 closed, assigned to spkal01

[2022-02-28 09:21] MudabbirulSaad commented on #53
@spkal01 sir my current build with trees is showing some major bugs which I never faced with other roms and I'm trying to fix with my best. So, can I reapply later?

[2022-02-28 09:23] spkal01 commented on #53
Sure just make sure your trees are up to the standards

[2022-02-28 09:24] MudabbirulSaad commented on #53
Thank you !

[2022-03-15 13:54] resist15 opened #54 "New maintainer"
## Device you want to apply for
[code]
## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/b

[2022-03-15 14:17] anandhan07 opened #55 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-03-15 16:59] spkal01 commented on #54
Pobg phone going official long live Poco # I love Poco # I will die for Poco

[2022-03-15 16:59] #54 closed, assigned to spkal01

[2022-03-15 17:00] spkal01 commented on #55
Everything looks good. Status: Accepted

[2022-03-15 17:00] #55 closed, assigned to spkal01

[2022-03-20 13:02] neikos4962 opened #56 "New maintainer"
## Device you want to apply for
[code]
https://github.com/eurekadevelopment/android_device_samsung_exynos7885
https://github.com/eurekadevelopment/Eureka-Kernel-Exynos7885-Q-R-S
https://github.com/eurekadevelopment/android_vendor_samsung_exynos7885

[code]
https://t.me/eureka_roms/526

## Other ROM's you maintain officially or unofficially
[code]
None
[code]
1 year

## Did you properly read [Devic

[2022-03-28 09:54] #56 closed, assigned to spkal01

[2022-04-05 08:34] Patriot-06 opened #57 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-06 09:14] spkal01 commented on #57
Hey thanks for applying but im afraid there are some issues with your form.
1 you havent inserted a link to your unofficial build
2 your trees arent adapted to spark
3 You havent inserted a valid amount of since when you are building
4 We only accept people who build 3 roms including spark

Reopen this issue once you have adressed all of the above issues

[2022-04-06 09:14] #57 closed, assigned to spkal01

[2022-04-11 20:21] neutralBoi opened #58 "New Maintainer for Miatoll"
## Device you want to apply for
• POCO M2 Pro - Gram
• Note 9S/Indian Note 9pro - Curtana
• Global Note 9Pro - Joyeuse
• Note 9Pro Max - Excalibur
Your device name and codename
Miatoll

## Device tree sources

[code]
Approx 9 10 Months
[code]
I read everything properly and I violate none of the requirements.
[code]
Enforcing.
[code]
No.
[code]
@neutral_boi
[code]

[2022-04-15 04:55] spkal01 commented on #58
Status : Rejected
Firstly you don't have any contribution to the dt other then adapting to spark
Secondly we accept only people who maintain 3 roms max

[2022-04-15 04:55] #58 closed, assigned to spkal01

[2022-04-18 12:19] RahulGorai0206 opened #59 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-18 15:45] killcmd opened #60 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-19 10:05] spkal01 commented on #60
Hey plz update your commit naming in order for them to be more descriptive thanks

[2022-04-19 16:44] killcmd commented on #60
Sure bud

[2022-04-20 04:11] killcmd commented on #60
Updated the commits to what I remembered, not the most detailed but it's actually an idea of what happened.

[2022-04-20 07:27] spkal01 commented on #60
https://gitlab.com/killcmd/ramen/-/commit/82c85f042a495af294d7da61968892836fed141c

https://gitlab.com/killcmd/ramen/-/commit/a90179a10cd48ea53352ea64a9cb916bde4ceaf9

Drop those commits also are you the author of the whole tree ?

[2022-04-20 07:59] spkal01 commented on #59
Everything looks good Status: Accepted

[2022-04-20 07:59] #59 closed, assigned to spkal01

[2022-04-20 16:15] killcmd commented on #60
Unfortunately I am. I'll drop those commits later on today.

[2022-04-23 06:04] RahulGorai0206 opened #61 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-23 07:10] pranshoe opened #62 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-23 07:39] spkal01 commented on #60
Hey everything is fine just a question why do you use gitlab for the dt any specific reason ?

[2022-04-23 07:41] spkal01 commented on #61
Drop this https://github.com/RahulGorai0206/device_xiaomi_ginkgo/commit/461d3c2e7826bcaccf656bd98534c059388494ed

Rebase this https://github.com/RahulGorai0206/device_xiaomi_ginkgo/commit/614628bf9c1b786e6972a0832de20bd4d3bc6331

[2022-04-23 07:42] spkal01 commented on #62
Hey you have built a one time build for these roms or you maintain them ?

[2022-04-23 07:42] RahulGorai0206 commented on #61
Ok

On Sat, 23 Apr, 2022, 1:11 pm spkal01, ***@***.***> wrote:

[2022-04-23 07:43] pranshoe commented on #62
I have made a one time build but am looking forward to maintain Dot officially and POSP unofficially.

[2022-04-23 09:23] RahulGorai0206 commented on #61
fixed sir

[2022-04-23 13:03] killcmd commented on #60
Github made me enable LFS on a few uploads I did a while back for my ArrowOS DT and Common, which bugged me a little. It's more a preference not an essential need,

[2022-04-25 17:59] MetoisTaken opened #63 "New maintainer for Xiaomi Mi A1 (tissot)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-26 08:14] soumya19x opened #64 "New maintainer for Oneplus 8t & 9r"
## Device you want to apply for
[code]
https://github.com/soumyo19/android_device_oneplus_lemonkebab
https://github.com/Project-Zephyrus/meteoric_kernel
https://github.com/soumyo19/android_vendor_oneplus_lemonkebab
[code]
Not Applicable
[code]

## How long have you been building for?
[code]

## SELinux status?
Enforcing.
[code]

## Contact
### Telegram username
[code]

[2022-04-26 13:11] spkal01 commented on #60
Status Accepted but plz ammend your dt commits for  more descriptive commit naming

[2022-04-26 13:11] #60 closed, assigned to spkal01

[2022-04-26 13:12] spkal01 commented on #61
Status: Accepted

[2022-04-26 13:12] #61 closed, assigned to spkal01

[2022-04-26 13:15] spkal01 commented on #62
Hey have you released your build on any platform ? Also you need to drop some roms cause we allow only 3 roms in total along with spark

[2022-04-26 13:17] spkal01 commented on #63
Your main dt isn't adapted to spark

[2022-04-26 13:17] #63 closed, assigned to spkal01

[2022-04-26 13:18] spkal01 commented on #64
Haven't you released your build on any platform ?

[2022-04-26 13:21] soumya19x commented on #64
nope I am using on my own

[2022-04-26 13:25] pranshoe commented on #62
Yes I have released my builds on https://www.pling.com/p/1742369/ but will release my Spark build soon (altho I have given 3-4 people access to it).
As far as maintaining only 3 roms, I can drop POSP.

[2022-04-26 13:33] MetoisTaken opened #65 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-04-26 15:09] popoASM opened #66 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]
Telegram
[code]
CipherOS, pixel experience, evo-x, p-arcana for Tenor E & miatoll unofficially
[code]
None
[code]
1 Year

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/blob/eleven/requirements.md) and [Maintainer requirements](https://github.com/Spark-Rom/official_devices

[2022-04-26 19:08] spkal01 commented on #64
You must release an unofficial build before applying :)

[2022-04-26 19:09] soumya19x commented on #64
Alright :D

On Wed, Apr 27, 2022, 1:08 AM spkal01 ***@***.***> wrote:

[2022-04-27 17:42] pranshoe commented on #62
Released :D

[2022-04-28 04:25] spkal01 commented on #62
Send a link to the post ;)

[2022-04-28 04:29] spkal01 commented on #65
Status: Rejected

Reason: You don't seem to have any contributions on the dt and you lack experience using GitHub and git

[2022-04-28 04:29] #65 closed, assigned to spkal01

[2022-04-28 10:33] pranshoe commented on #62
https://t.me/whyredupdates/12724

[2022-04-28 10:52] spkal01 commented on #64
Are you planning on releasing it or I should close the issue ?

[2022-04-28 10:53] spkal01 commented on #66
We only accept people who maintain max 3 roms with spark included

[2022-04-28 11:16] soumya19x commented on #64
Yes I am planning to release.

On Thu, Apr 28, 2022 at 4:52 PM spkal01 ***@***.***> wrote:

[2022-04-28 14:30] popoASM commented on #66
Oh I occasionally build them, I do not provide monthly updates

[2022-04-29 02:43] spkal01 commented on #66
Have you released an unofficial build If not do so and send link here

[2022-04-29 19:55] spkal01 commented on #62
Status: Accepted but make sure you drop one of the roms

[2022-04-29 19:55] #62 closed, assigned to spkal01

[2022-04-30 12:43] spkal01 commented on #66
No responce

[2022-04-30 12:43] #66 closed, assigned to spkal01

[2022-05-01 08:47] spkal01 commented on #64
Any progress ?

[2022-05-01 10:22] soumya19x commented on #64
https://t.me/soumyo19_updates/330

On Sun, May 1, 2022, 2:47 PM spkal01 ***@***.***> wrote:

[2022-05-01 12:15] bola980 opened #67 "New maintainer"
## Device you want to apply for
Realme
Your device name and codename
realme Gt master edition
RMX3360/RMX3363

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device

[2022-05-05 13:37] mrfox2003 opened #68 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-07 08:29] spkal01 commented on #64
Status: Accepted

[2022-05-07 08:29] #64 closed, assigned to spkal01

[2022-05-07 08:30] spkal01 commented on #67
Status: Rejected no public trees and no released build

[2022-05-07 08:30] #67 closed, assigned to spkal01

[2022-05-08 09:14] EvilAnsh opened #69 "New maintainer"
## Device you want to apply for
[code]
## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/b

[2022-05-08 14:30] popoASM opened #70 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-09 05:41] ghost opened #71 "New maintainer for Redmi 8A Dual"
## Device you want to apply for

Redmi 8A Dual olivewood

## Device tree sources

https://github.com/JaswalAshish/device_xiaomi_olivewood.git
https://github.com/JaswalAshish/kernel_xiaomi_olivewood.git
https://github.com/JaswalAshish/vendor_xiaomi_olivewood.git

## Link to the platform where you have released your unofficial build

https://t.me/Redmi8AOfficial/277885

## Other ROM's you maintain o

[2022-05-09 06:37] Albinoman887 opened #72 "New maintainer for Google Pixel 6 Pro (Raven)"
## Device you want to apply for
[code]

## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/b

[2022-05-13 20:46] Pyrtle93 opened #74 "New maintainer"
## Device you want to apply for
[code]
https://github.com/Pyrtle93/device_oneplus_lemonkebab/tree/spark
https://github.com/Pyrtle93/IllusionX_sm8250
https://github.com/Pyrtle93/vendor_oneplus_lemonkebab
[code]
https://t.me/Derp8t
[code]
I was maintaining derpfest for this device for about a year but now I'm not
[code]
None
[code]
3 almost 4 years
[code]
I read everything properly and I violate non

[2022-05-15 06:47] spkal01 commented on #70
Hey status Accepted

[2022-05-15 06:47] #70 closed, assigned to spkal01

[2022-05-15 06:50] spkal01 commented on #71
Status: Accepted

[2022-05-15 06:50] #71 closed, assigned to spkal01

[2022-05-15 06:51] spkal01 commented on #74
Hey plz split this commit to 2 parts 1 for the sparkify rebrand and another for whatever changes you have done on parts https://github.com/Pyrtle93/device_oneplus_lemonkebab/commit/b2092e07a1314b12970b4b837cdf39901b1df5c9

[2022-05-15 12:27] Pyrtle93 commented on #74
I just squashed reverts into the spark-ify commit. Can I just add the commit history into the spark-ify commit so we know what exactly was reverted or do you still want me to split it?

[2022-05-15 12:29] spkal01 commented on #74
Sure just add on sparkify commit

[2022-05-15 16:00] Pyrtle93 commented on #74
Is this better?
https://github.com/Pyrtle93/device_oneplus_lemonkebab/commit/2aef57b38734415d6d18c0d7d08d2dc8f07aa29f

[2022-05-15 19:22] spkal01 commented on #68
Where unofficial build ?

[2022-05-16 04:27] mrfox2003 commented on #68
https://t.me/RedmiNote10ProChannel/1088

[2022-05-16 09:52] spkal01 commented on #68
Why have you picked even the initial commit of the tree ? Instead of rebasing onto it

[2022-05-16 11:47] ajitlenka30 opened #75 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-18 18:28] soumya19x opened #76 "New maintainer for Xiaomi mi 11 (Venus)"
## Device you want to apply for
[code]
https://github.com/soumyo19/android_device_xiaomi_sm8350-common
https://github.com/soumyo19/android_device_xiaomi_venus
https://github.com/soumyo19/kernel_xiaomi_venus
https://github.com/soumyo19/android_vendor_xiaomi_sm8350-common
https://github.com/soumyo19/android_vendor_xiaomi_venus
[code]
[Click Me](https://forum.xda-developers.com/t/rom-12-1-venus-spark

[2022-05-19 00:37] ghost opened #77 "..."
...

[2022-05-19 03:00] #77 closed, assigned to spkal01

[2022-05-19 08:20] ganesh-mahadev-aher opened #78 "New maintainer For Redmi 7/Y3"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-19 14:35] THERAD1 opened #79 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-19 20:20] #68 closed, assigned to spkal01

[2022-05-20 08:41] #76 closed, assigned to spkal01

[2022-05-21 15:27] bola980 opened #80 "New maintainer"
## Device you want to apply for
[code]
Rmx3360/RMX3363
## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/of

[2022-05-21 15:47] bola980 opened #81 "New maintainer"
## Device you want to apply for
Realme
Your device name and codename
realme Gt master edition
RMX3360/RMX3363

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device

[2022-05-21 15:59] #80 closed, assigned to spkal01

[2022-05-23 16:57] Ardjlon opened #82 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-23 22:10] NamCap25 opened #83 "New maintainer"
## Device you want to apply for
Redmi note 11 4G
Your device name and codename
Specs/Spesn

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
Sourceforge
Insert here
https://sourceforge.net/projects/los-spes/files/LOS/Spark-12.3-UNOFFICIAL-spes-20220521-gapps.zip/download

## Other ROM's you maintain officially or unofficially
Project Arcana UNOF

[2022-05-24 16:28] NamCap25 opened #84 "New maintainer For Spes/Spesn"
## Device you want to apply for
[code]
https://github.com/Adamjami/android_device_xiaomi_spes
https://github.com/Adamjami/kernel_xiaomi_spes_header
https://gitlab.com/Jabiyeff/android_vendor_xiaomi_spes
[code]
Insert here
https://sourceforge.net/projects/los-spes/files/LOS/

## Other ROM's you maintain officially or unofficially
[code]
Offline charging
[code]
Months
[code]
I read everything proper

[2022-05-25 15:56] spkal01 commented on #72
Status: Accepted

[2022-05-25 15:56] #72 closed, assigned to spkal01

[2022-05-25 15:57] spkal01 commented on #74
Status: Accepted

[2022-05-25 15:57] #74 closed, assigned to spkal01

[2022-05-25 15:59] spkal01 commented on #82
Status: Rejected
Reasons: 1 why have you imported the whole freaking sepolicy on your tree ?
2 the dt should only be adapted to spark the android products should only have spark entries

[2022-05-25 15:59] #82 closed, assigned to spkal01

[2022-05-25 16:00] spkal01 commented on #83
Status : Rejected no contributions

[2022-05-25 16:00] #83 closed, assigned to spkal01

[2022-05-25 16:00] spkal01 commented on #84
Status: Rejected duplicate

[2022-05-25 16:00] #84 closed, assigned to spkal01

[2022-05-25 16:05] NamCap25 commented on #83
Please can I ask about the " no contribution" meaning?

On Wed, May 25, 2022, 5:00 PM spkal01 ***@***.***> wrote:

[2022-05-25 16:07] spkal01 commented on #83
It means that you haven't done any significant change on top of the base dt

[2022-05-25 16:13] NamCap25 commented on #83
Oh that's right, actually I contributed directly to the fix of stuff on the
tree of my friend jabiyef, we fixed and optimized the tree together for
easy adaption+ bug fixed proximity sensor, swapped Audio hals and deleted
useless init entries and as well, committed goodix fingerprint issue. I am
working on offline charging bug and I send him to apply it to his tree. I
forked the tree that I alread

[2022-05-25 16:16] spkal01 commented on #83
Your GitHub history should show that you have done contributions to the device trees

[2022-05-25 16:21] NamCap25 commented on #83
I am asking for you to humbly allow me to maintain spark officially for
spes/spesn, me and jabiyef are good friends and we are doing most of the
job on telegram, we discuss and he try the instructions I send on his tree,
I test and vice versa sometimes, I send him the codes to apply on his tree
via telegram, I can show proof screenshots, but it won't actually show on
GitHub right? It's impossible

[2022-05-25 16:54] spkal01 commented on #83
I would really like to give you maintainership but I don't have anything backing up your claim as your GitHub account is only like a month old

[2022-05-25 17:06] NamCap25 commented on #83
Uhm, thanks for your patience, actually I talked to jabiyef right now and
he said he also forked from dblenk the base tree and he didn't need that
much of changements to apply for crdroid maintainer-ship back then, but at
least with this tree that we both worked on, everything is almost perfect,
there's no room for any other improvement other than fixing offline
charging bug, which I will fix toni

[2022-05-25 17:15] spkal01 commented on #79
Status: Rejected

1 your common bringup commit has useless overlays not needed for a12
2 Why would you have maintainer prop both on system and product prop

[2022-05-25 17:15] #79 closed, assigned to spkal01

[2022-05-25 18:22] Ardjlon commented on #82
Thanks for your feedback sir.
The sepolicy is practically the same in my dt, only that I manage it in different folders to manage it with different ROMS, it's the only reason it looks like it's been imported, but it's not.
I will make another branch, and apply again

[2022-05-25 18:38] spkal01 commented on #82
Great 👍

[2022-05-26 01:45] #75 closed, assigned to spkal01

[2022-05-26 04:26] Ardjlon opened #85 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-26 15:39] NamCap25 commented on #83
Le mer. 25 mai 2022 à 18:06, Flare Music ***@***.***> a écrit :

[2022-05-26 19:19] spkal01 commented on #85
As I said on your previous application issue you need to have only spark entries on your dt

https://github.com/Ardjlon/android_device_xiaomi_surya/blob/spark/evolution_surya.mk
https://github.com/Ardjlon/android_device_xiaomi_surya/blob/spark/ancient_surya.mk

[2022-05-26 22:57] Ardjlon commented on #85
Done, please check again sir :D

[2022-05-27 23:37] THERAD1 opened #86 "New maintainer for OnePlus 9/9pro"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-05-27 23:41] THERAD1 commented on #86
For your reconsideration.  😇

[2022-05-28 00:50] THERAD1 commented on #86
Libra420T:
This is really nice 👍

Looks great, running really smooth.
Will report if any issues 👍

Albério Granja:
Excellent job.  One of the most complete Roms I've ever tested.  But I miss the FPS unlock for games (Call of Duty game).  😅 Is it something you can implement in the future, or is it not in your plans?

mirdaVG:
NeoTheSavage your latest spark build is just amazing. So smooth, has all

[2022-05-29 17:19] #69 closed, assigned to spkal01

[2022-06-06 20:42] Ardjlon commented on #85
@spkal01 hello sir, any new?

[2022-06-12 13:44] THERAD1 commented on #86
My other roms I support are both finally moving to A12 so as much as I like SparkOS I have to withdraw my application. I will continue with unofficial from time to time. Thank you.

[2022-06-12 13:44] #86 closed, assigned to spkal01

[2022-07-06 18:55] Ardjlon commented on #85
Hi, no answers? Please :D

[2022-07-06 20:22] spkal01 commented on #85
Hi sorry I was too busy lately I will let you know tomorrow

[2022-07-18 08:14] dominator-prime opened #87 "will do once i back"
## Device you want to apply for
[code]
Your device name and codename
[code]
## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
https://t.me/namlessop6series
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devic

[2022-07-20 14:31] #85 closed, assigned to spkal01

[2022-07-21 06:37] dominator-prime commented on #87
due to office meeting i'm going out of the town  for a 4-5days, will re-open next week once i back home
pls don't accept until then a big request to u just 4-5 days
thanks

[2022-07-21 06:37] #87 closed, assigned to spkal01

[2022-07-22 15:46] DanCS1995 opened #88 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-08-20 08:41] putraaxyzo opened #89 "New maintainer POCO M3"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-05 09:00] #89 closed, assigned to spkal01

[2022-09-07 10:53] #78 closed, assigned to spkal01

[2022-09-07 10:53] #81 closed, assigned to spkal01

[2022-09-07 10:53] #88 closed, assigned to spkal01

[2022-09-07 16:17] onkarsinghsahil opened #90 "Apply maintainership for mido"
Device and codename: Redmi note 4 (mido)

Device tree: https://github.com/onkarsinghsahil/device_xiaomi_mido/tree/spark

Kernel source: https://github.com/onkarsinghsahil/kernel_mido

Vendor source: https://github.com/onkarsinghsahil/proprietary_vendor_xiaomi

Reason for prebuilt kernel (if exists): not exist

Selinux: Enforcing

Safetynet status: Pass without Magisk

Telegram username: https://t.

[2022-09-07 16:21] #90 closed, assigned to nobody

[2022-09-07 17:05] neikos4962 opened #91 "New maintainer"
## Device you want to apply for
[code]
https://github.com/eurekadevelopment/android_device_samsung_exynos7885
https://github.com/eurekadevelopment/Eureka-Kernel-Exynos7885-Q-R-S
https://github.com/eurekadevelopment/android_vendor_samsung_exynos7885

[code]
https://t.me/eureka_roms/526

## Other ROM's you maintain officially or unofficially
[code]
None
[code]
1 year

## Did you properly read [Devic

[2022-09-07 18:18] tribual opened #92 "maintainer cepheus"
Device and codename: Xiaomi Mi 9 (cepheus)

Device tree:

- https://github.com/Spark-Devices/android_device_xiaomi_cepheus/tree/pyro

Kernel source:

- https://github.com/Spark-Devices/android_kernel_xiaomi_cepheus/tree/pyro

Vendor source:

- https://github.com/Spark-Devices/android_vendor_xiaomi_cepheus/tree/pyro

Reason for prebuilt kernel (if exists): not exist

Selinux: Enforcing

Safetynet s

[2022-09-08 17:59] whyredfire commented on #92
Hi, unfortunately the linked device tree doesn't exist.

[2022-09-08 18:00] spkal01 commented on #92
Priv

[2022-09-09 08:31] anandhan07 opened #93 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-10 14:26] #93 closed, assigned to spkal01, whyredfire

[2022-09-11 13:48] Dark-free opened #94 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-11 17:38] whyredfire commented on #94
Hi, please link all the required trees you used to compile.

[2022-09-11 17:43] Dark-free commented on #94
Hi, nice to meet you:

common tree:
https://github.com/ProjectElixir-Devices/device_oneplus_sm8250-common
Kernel:
https://github.com/Dark-free/meteoric_kernel
Vendor Common
https://github.com/Dark-free/vendor_oneplus_sm8250-common
Vendor Device :
https://github.com/Dark-free/vendor_oneplus_instantnoodlep vendor/oneplus/instantnoodlep
Hardware:
https://github.com/Dark-free/hardware-oneplus.git -b A

[2022-09-11 17:47] spkal01 commented on #94
Hi Don't you have device/OnePlus/instantnoodlep

[2022-09-11 17:53] Dark-free commented on #94
I did:
https://github.com/ProjectElixir-Devices/device_oneplus_instantnoodlep/
A13 just working on it and will push it soon

[2022-09-11 17:58] spkal01 commented on #94
Comment again on this issue once you have pushed that tree as well

[2022-09-11 18:06] Dark-free commented on #94
i just did
https://github.com/ProjectElixir-Devices/device_oneplus_instantnoodlep

[2022-09-11 18:29] spkal01 commented on #94
Hey your trees aren't adapted for spark

[2022-09-11 18:33] Dark-free commented on #94
can you tell me on which side it isnt adapted? if you can telk to me on pm. I can adapt it

[2022-09-11 18:34] spkal01 commented on #94
https://github.com/ProjectElixir-Devices/device_oneplus_instantnoodlep/blob/Tiramisu/aosp_instantnoodlep.mk this should be spark_* and etc. Have you booted spark a13 ?

[2022-09-11 18:37] Dark-free commented on #94
Ah Ok I will make bring up once i will push spark bringup. i jyst show you what i use already for aosp...Sorry i will push spark bringup to my personnal git. now. and yes i did booted and now i jkust solve all issues. and build the last 100% operational one.

[2022-09-11 18:40] Vitorgl2003 opened #95 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-11 18:40] Dark-free commented on #94
https://github.com/Dark-free/device_oneplus_instantnoodlep/tree/spark

[2022-09-11 19:09] chuspita opened #96 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-11 19:34] spkal01 commented on #96
Hey are you applying for a13 ? or a12

[2022-09-12 06:03] whyredfire commented on #95
Hi, while reviewing your application I found few things that you can improve upon.

1. Drop pixel charger from device tree and use the resources from spark vendor
2. Cleanup unused QTI bluetooth files
3. Nuke this unused call [here](https://github.com/Spark-Devices/android_device_xiaomi_lavender/blob/d9313c203200bcdd1d4c686e9fabf97ca0c2e289/device.mk#L76)
4. Build APN config from spark vendor
5. D

[2022-09-12 06:08] whyredfire commented on #94
![image](https://user-images.githubusercontent.com/72072109/189584658-1056174a-1b0e-410e-ba6a-a00c24fd76a3.png)
Consider rebasing...

[2022-09-12 07:09] Dark-free commented on #94
Yes of course.
![IMG_20220912_074103_775](https://user-images.githubusercontent.com/58146160/189593406-56133f73-937f-420d-8a30-56452ac5539e.jpg)

[2022-09-12 07:27] Vitorgl2003 commented on #95
Hi, please check right branch, on application I said pyro branch, not spark branch 😁
On pyro branch point 3, 4, 7 are solved as you can see [here](https://github.com/Spark-Devices/android_device_xiaomi_lavender/commit/12dbddd0b19e2abd3082b1e419e95642abc706ee).
About point 1, 2, 5 and 8 I will fix.
About AB ota updater, that hal is needed for devices with AB partition since this device tree was bef

[2022-09-12 08:18] chuspita commented on #96
Until yesterday I was with A12, but now as you have uploaded the sources of A13, from now on I start to build Spark A13

[2022-09-12 08:30] spkal01 commented on #96
We don't accept maintainers for a12. Once you have booted spark a13 you can re apply

[2022-09-12 08:30] #96 closed, assigned to spkal01, whyredfire

[2022-09-12 08:53] chuspita commented on #96
ok...building now. Thank you

[2022-09-12 19:16] #91 closed, assigned to spkal01, whyredfire

[2022-09-12 19:17] neikos4962 opened #97 "Galaxy A series maintainer"
## Device you want to apply for
[code]
https://github.com/Spark-Devices/android_device_samsung_exynos7885
https://github.com/eurekadevelopment/Eureka-Kernel-Exynos7885-Q-R-S
https://github.com/Spark-Devices/android_vendor_samsung_exynos7885

[code]
https://t.me/eureka_roms/526

## Other ROM's you maintain officially or unofficially
[code]
None
[code]
1 year

## Did you properly read [Device stabil

[2022-09-12 19:19] neikos4962 opened #98 "Veux Maintainer"
## Device you want to apply for
[code]
https://github.com/Spark-Devices/device_xiaomi_veux
https://github.com/Spark-Devices/vendor_xiaomi_veux
https://github.com/Spark-Devices/kernel_xiaomi_sm8350

[code]
https://t.me/PocoX4ProUpdates

## Other ROM's you maintain officially or unofficially
[code]
None
[code]
1 year

## Did you properly read [Device stability requirements](https://github.com/Spark-

[2022-09-12 21:35] chuspita opened #99 "Chuspita"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-12 21:58] Lowxorx opened #100 "LMI maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-14 06:55] whyredfire commented on #99
How long have you been building for?

[2022-09-14 07:28] Vitorgl2003 commented on #95
Hi, all should be fine now, please review my application on pyro branch.

[2022-09-14 07:40] chuspita commented on #99
about two years or so, but until now it was only for my personal use

[2022-09-14 08:37] whyredfire commented on #95
Perfect.

[2022-09-14 08:38] #95 closed, assigned to spkal01, whyredfire

[2022-09-14 08:39] whyredfire commented on #99
You github account doesn't seem to have any history.

[2022-09-14 08:44] whyredfire commented on #98
Hi, while we were reviewing your trees, we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-09-14 08:45] #98 closed, assigned to spkal01, whyredfire

[2022-09-14 08:45] whyredfire commented on #97
Hi, while we were reviewing your trees, we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-09-14 08:45] #97 closed, assigned to spkal01, whyredfire

[2022-09-14 08:58] chuspita commented on #99
If right. I hadn't decided to put my tree on github, because before I didn't publish any ROMS, now I'm publishing some unofficial ROMS, doing tests, learning new things and always trying to improve the device. Now I see myself ready to maintain an official ROM, so now I have my git operational.

[2022-09-14 09:05] chuspita commented on #99
I am always in contact with another maintainer of Sweet, his Nick is jimgsey, he maintains Ricedroid on this device, he is my how to say it... he is my mentor. My first compilation was a ROM called ZenX-OS, its author was a dev called Zenixxx, well we are talking about A10 if I remember correctly

[2022-09-14 10:58] ghost commented on #99
Why not put these two commit (https://github.com/chuspita/13_device-xiaomi-sweet/commit/5d41aff39cf84b293409544fb588c1ec83eeb8ce /// https://github.com/chuspita/13-device_xiaomi_sm6150-common/commit/189a879c4ed9f89a8aff49496bfbe428fc0b7285) in one only tree? Preferably the common tree. Also, your vendor is missing com.qti.node.watermark.so patched.

I noticed that you also have no knowledge about

[2022-09-14 11:01] ghost commented on #99
Why https://github.com/chuspita/13_device-xiaomi-sweet/commit/8d4440d988df8abab7e0b240554840aee8bac0aa ?? NewPipe should be optional for the user, it should not force them to use it.

[2022-09-14 11:04] ghost commented on #99
where is the link to the common tree vendor?

[2022-09-14 11:05] spkal01 commented on #99
Vendor Xiaomi contains both

[2022-09-14 11:07] chuspita commented on #99
https://github.com/chuspita/13_vendor_xiaomi/tree/13.0/sm6150-common

[2022-09-14 11:07] ghost commented on #99
Sorry about the "com.qti.node.watermark.so" I just saw that it has (https://github.com/chuspita/13_vendor_xiaomi/commit/89eacdc7acc5c52ca200457c5ac81ca0c9970976)

[2022-09-14 11:07] ghost commented on #99
I'm blind, srry

[2022-09-14 11:09] ghost commented on #99
Yeah, I just saw, I'm half blind lol

[2022-09-14 11:10] chuspita commented on #99
enzo19976 ... since you're unfriendly to me, I'm going to be unfriendly to you...I put newpipe because it's an unofficial rom and I put whatever I want, newpipe is a vanced type app...and the above, the tree are not mine as you have to suppose... you managed to make me want to keep spark, thanks for taking away my illusion

[2022-09-14 11:20] ghost commented on #100
Your commits is being signed with the email "lowxorx@lahan.fr" and it seems that it's not linked to your account, because of that your commits is signed by a person that doesn't exist:D

[2022-09-14 11:27] Lowxorx commented on #100
My email settings were screwed on gh. It's fixed.

[2022-09-14 11:28] ghost commented on #100
Great! Looks good! You've already been accepted, right?

[2022-09-14 11:29] Lowxorx commented on #100
Yes I was already a Spark A11/ A12 maintainer :)

[2022-09-14 11:31] ghost commented on #100
Nicee! Close issue

[2022-09-14 11:32] Mikdadali opened #101 "New maintainer"
## Device you want to apply for
Xiaomi 11 lite NE 5g
Your device name and codename
lisa

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirement

[2022-09-14 11:36] spkal01 commented on #100
@enzo19976 mate could you plz leave the official process to us ?

[2022-09-14 12:58] whyredfire commented on #101
Hi, while we were reviewing your trees, we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-09-14 12:58] #101 closed, assigned to spkal01, whyredfire

[2022-09-14 13:00] whyredfire commented on #99
Hi, while we were reviewing your trees, we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-09-14 13:00] #99 closed, assigned to spkal01, whyredfire

[2022-09-14 13:03] ghost commented on #100
Ok, srryy

[2022-09-14 14:24] ghost opened #102 "New maintainer for sweet [redmi note 10 pro]"
## Device you want to apply for
[code]
https://github.com/kangeraarav/device_xiaomi_sweet
https://github.com/kangeraarav/device_xiaomi_sm6150-common
https://github.com/kangeraarav/vendor_xiaomi
https://github.com/Sm6150-Sweet/kernel_xiaomi_sm6150
[code]
Insert here testing but booted
[code]
Insert here project blaze, eternity os, porject flexo
[code]
None
[code]
Weeks/Months/Years 1.5 year
[code]

[2022-09-14 14:28] ghost commented on #102
@whyredfire @spkal01 check once

[2022-09-14 15:03] kangeraarav commented on #102
i had tested all stuffs in my dt.. they were private so i worked on them yesterday and today

[2022-09-14 15:23] ghost commented on #102
default branch is T

[2022-09-14 19:29] whyredfire commented on #100
Hi, here are a few things you can do.
- Pick ItsVixano/android_device_xiaomi_msm8953-common@d72310ec08a7f44b052a4a1156ad7847883a915b
- Drop RemovePackages, SparkOS doesn't have those packages by default
- Fix authorship for the folloing commit Lowxorx/android_device_xiaomi_sm8250-common@08d6809a8c42baeb9a862951c137c21e2f045cac

[2022-09-14 19:50] whyredfire commented on #102
Hi, seems like you've reset the top few commits from https://github.com/Sm6150-Sweet/device_xiaomi_sm6150/commits/13.0 and repicked them with no changes whatsoever. I also noticed that you kanged one of these, kangeraarav/device_xiaomi_sm6150-common@0abf6b89bd0b223c1c125c5b2bee4addf6645760.
The same is true for sweet specific tree as well, other than that, you've enabled F2FS compression yesterday

[2022-09-14 19:51] #102 closed, assigned to spkal01, whyredfire

[2022-09-14 20:50] Lowxorx commented on #100
I adapted this commit ([https://github.com/Lowxorx/android_device_xiaomi_sm8250-common/commit/08d6809a8c42baeb9a862951c137c21e2f045cac](https://github.com/Lowxorx/android_device_xiaomi_sm8250-common/commit/08d6809a8c42baeb9a862951c137c21e2f045cac)) from [https://github.com/venom-trees/device-xiaomi-sm8250/commit/db45020e2c9e64fb4866c4589ad0db132ab0495f](https://github.com/venom-trees/device-xiaomi

[2022-09-15 00:21] ghost commented on #102
See i hadn't kanged that livedisplay one,
I had dropped that service in my old dt 1 month ago

[2022-09-15 00:22] kangeraarav commented on #102
And if i giv authorship then am i acc

[2022-09-15 05:00] whyredfire commented on #100
Sure, just mention something like, inspired from and then put commit id.

[2022-09-15 08:37] Lowxorx commented on #100
Done.

[2022-09-15 10:48] #100 closed, assigned to spkal01, whyredfire

[2022-09-15 12:19] pranshoe opened #103 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-15 20:04] tribual commented on #92
not worth

[2022-09-15 20:04] #92 closed, assigned to spkal01, whyredfire

[2022-09-15 20:23] #103 closed, assigned to spkal01, whyredfire

[2022-09-16 06:01] popoASM opened #104 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]
## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/b

[2022-09-16 09:14] whyredfire commented on #104
- Add [these](https://github.com/Spark-Devices/device_xiaomi_sm6250-common/blob/020d5d960782c134438150402d1e9a41deecf666/system.prop#L36-L40) in device specific tree instead
- Drop deprecated Snap camera package
- Drop fingerprints from device tree, its handled by spark source

[2022-09-16 19:24] Ziad-Fekry opened #105 "New maintainer for poco F3 (Ziad Fekry)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-17 03:17] popoASM commented on #104
1. *  Issue [fixed](https://github.com/Spark-Devices/device_xiaomi_sm6250-common/commit/d557c562c2734bd041b752dc9b37217c535a6367)
2.  * Issue [fixed](https://github.com/Spark-Devices/device_xiaomi_sm6250-common/commit/1c010fe6da51cb917acbe27a2cc68d716b92388b)
3.  * Issue [fixed](https://github.com/Spark-Devices/android_device_xiaomi_miatoll/commit/06bba3f7698a9471d0643f6556db42750c1a59a2)

[2022-09-17 05:59] #104 closed, assigned to spkal01, whyredfire

[2022-09-17 06:00] #105 closed, assigned to spkal01, whyredfire

[2022-09-17 07:22] Ziad-Fekry opened #106 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-17 19:00] MetoisTaken opened #107 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-18 16:10] whyredfire commented on #94
I'm closing this issue due to inactivity, consider opening a new issue if you're still interested.

[2022-09-18 16:10] #94 closed, assigned to spkal01, whyredfire

[2022-09-19 20:16] whyredfire commented on #107
Hi, rewrite commit messages properly with the following format on your common tree **<path/repository name reference>: <Commit title that MUST be a basic explanation for its content>**. Furthermore squash the following commits, MetoIsTaken/device_xiaomi_msm8953-common_t@e5c002b7acbc90beb5ffd90d5cf37a52fb4407c3 & MetoIsTaken/device_xiaomi_msm8953-common_t@2d71f07927ce0c3b9f1fd52af822f157cbb0f596.

[2022-09-20 16:20] #106 closed, assigned to spkal01, whyredfire

[2022-09-20 16:57] MetoisTaken commented on #107
Edited.

[2022-09-21 10:06] Dhruvesh16 opened #108 "New maintainer"
## Device you want to apply for
[code]
https://github.com/Dhruvesh16/android_device_realme_RMX1921
https://github.com/Dhruvesh16/android_kernel_realme_RMX1921
https://gitlab.com/Dhruvesh16/vendor_realme_RMX1921
[code]
Insert here
[code]
official:Elixir,PPUI,ProjectBlaze,spark(A12)
[code]
None
[code]
8-9months
[code]
I read everything properly and I violate none of the requirements.
[code]
Enforcin

[2022-09-21 19:32] ghost opened #109 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/b

[2022-09-27 16:37] whyredfire commented on #107
MetoIsTaken/device_xiaomi_msm8953-common_t@4e66dc2148cf5355877407f151b4f822e8b14a73
MetoIsTaken/device_xiaomi_msm8953-common_t@ee606f0b544a0cf1b3bfa5c0758651eac8983543
MetoIsTaken/device_xiaomi_msm8953-common_t@4ee4c6c7be0fa12a24623d0afa794e7d22602d23
MetoIsTaken/device_xiaomi_msm8953-common_t@a1327fbe9009ee59576ac91bb035e2cce85c3c0c

[2022-09-27 16:57] whyredfire commented on #108
Hi, after reviewing your trees here are a few things you should look for

- Drop `RemovePackages`, your device can handle everything sparkos ships by default easily
- Don't make proprietary call optional [here](https://github.com/Dhruvesh16/android_device_realme_RMX1921/blob/75657dfa9765e819397ec12211066c996ef4e774/device.mk#L15)
- Drop redundant snapcam overlays
- Why do you have vendor_prop.mk?

[2022-09-27 16:58] #109 closed, assigned to spkal01, whyredfire

[2022-09-28 20:46] neikos4962 opened #110 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-09-29 04:19] #110 closed, assigned to spkal01, whyredfire

[2022-09-29 05:57] MetoisTaken commented on #107
https://github.com/MetoIsTaken/device_xiaomi_msm8953-common_tiramisu here's the new tree.

[2022-09-29 13:17] #107 closed, assigned to spkal01, whyredfire

[2022-10-03 20:27] neikos4962 opened #111 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-10-05 05:11] JuanTamadski opened #112 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-10-06 17:14] whyredfire commented on #108
I will be closing this issue due to inactivity.

[2022-10-06 17:14] #108 closed, assigned to spkal01, whyredfire

[2022-10-06 17:17] #111 closed, assigned to spkal01, whyredfire

[2022-10-06 17:25] neikos4962 commented on #111
Whats wrong now?

[2022-10-06 18:01] whyredfire commented on #112
Hi, while we were reviewing your trees, we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-10-06 18:01] #112 closed, assigned to spkal01, whyredfire

[2022-10-08 18:57] Dhruvesh16 commented on #108
Yea,sorry not getting time these days just saw,will be taking break from development for sometime.

[2022-10-11 07:32] THERAD1 commented on #79
The prop is because you have outdated info on your docs bring up page?
Found accurate info in the chat and forgot to drop the other one, but hey
it's ok. Which overlays are suggesting are useless exactly?

On Wed, May 25, 2022, 1:15 PM spkal01 ***@***.***> wrote:

[2022-10-11 09:02] kangeraarav commented on #102
Ahh sir I didn't kanged , I dropped livedisplay service on my old dt 1
month ago

On Thu, 15 Sep, 2022, 1:21 am Karan Parashar, ***@***.***>
wrote:

[2022-10-11 09:02] killcmd commented on #60
Ok

On Tue, Apr 19, 2022, 6:05 AM spkal01 ***@***.***> wrote:

[2022-10-15 07:57] kibria5 opened #113 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-10-16 09:49] unsatifsed27 opened #114 "New maintainer"
## Device you want to apply for
[code]
## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/bl

[2022-10-16 14:12] BitsAndBytes-dev opened #115 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-10-16 20:41] whyredfire commented on #115
Hi, while we were reviewing your trees, we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-10-16 20:41] #115 closed, assigned to spkal01, whyredfire

[2022-10-16 21:20] whyredfire commented on #114
Hi, here are a few things you need to do.
- This unsatifsed27/device_xiaomi_sweet@e00f5fa5b9045cd217d4d38c9deffdfc141bdf8a isn't allowed, we spoof Google Photos to Pixel 1 for unlimited high quality backup.
- Provide proper authorship for this commit unsatifsed27/device_xiaomi_sweet@63f31bf22ceda60e71a828fe1134f08608b42a49
- Are you sure about [this](https://github.com/unsatifsed27/device_xiaomi_s

[2022-10-17 02:29] unsatifsed27 commented on #114
Thnks for riview, i edited

[2022-10-17 03:21] unsatifsed27 commented on #114
Please check again, I've edited it again

[2022-10-17 15:50] bishwofic opened #116 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-10-20 06:18] #114 closed, assigned to spkal01, whyredfire

[2022-10-20 06:24] whyredfire commented on #116
1. Looks like you've just reset and re-picked from https://github.com/begonia-dev/android_device_redmi_begonia.
2. Your tree isn't even buildable for Spark Rom.

[2022-10-20 06:24] #116 closed, assigned to spkal01, whyredfire

[2022-10-22 13:34] bishwofic opened #117 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources
[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/b

[2022-10-24 11:37] kibria5 commented on #113
I opened this issue 9 days ago but under review from 8 days ago why

[2022-10-24 11:57] whyredfire commented on #113
Fix authorship for the following commits
kibria5/android_device_xiaomi_violet@accd2dcd7d5ab25c1ef9c1575c217d3834eb6440
kibria5/android_device_xiaomi_violet@6bae79caf8463b3ba4f7621e98c0e0a9aa3905ef

Squash the following
kibria5/android_device_xiaomi_violet@59b3418bd21875c34c9b4fa151c302c132cf84ac
kibria5/android_device_xiaomi_violet@0ad034486b169e82091ad643a09769cc609a9a51
kibria5/android_device_xi

[2022-10-24 12:00] whyredfire commented on #117
https://github.com/Spark-Rom/official_devices/issues/116#issuecomment-1285004414

[2022-10-24 12:00] #117 closed, assigned to spkal01, whyredfire

[2022-10-24 15:25] kibria5 commented on #113
Thanks for reply, Please check now, I've edited

[2022-10-24 17:07] bishwofic commented on #117
I don't mean to start any issue but the tree is certainly buildable for spark and there are well over 50 commits after the reset pick.

[2022-10-24 18:26] neikos4962 opened #118 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-10-25 18:20] kibria5 commented on #113
i already edited check please

[2022-10-26 16:36] whyredfire commented on #113
Why are you trying to remove a lot of non existent packages in remove_packages?
Delete duplicate definition for SystemUI dex preopt, its already done in vendor [here](https://github.com/Spark-Rom/platform_vendor_spark/blob/27aa5257351542c3cf0927203785d8a7f1b63ef5/config/common.mk#L164)
Update lineage camera package name [here](https://github.com/kibria5/android_device_xiaomi_violet/blob/a581bf3e19

[2022-10-26 19:46] kibria5 commented on #113
now, check please.

[2022-10-27 15:37] kibria5 commented on #113
check now

[2022-10-29 09:27] #113 closed, assigned to spkal01, whyredfire

[2022-10-31 06:23] whyredfire commented on #118
Didn't even care to adapt tree for Spark ROM.

[2022-10-31 06:23] #118 closed, assigned to spkal01, whyredfire

[2022-11-13 19:51] itsxrp opened #119 "New maintainer RMX3360"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-11-15 07:21] thenist opened #120 "New maintainer for 9810 devices."
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-11-15 15:29] bittencourtjulival opened #121 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/

[2022-11-19 19:43] whyredfire commented on #119
Hi there, while reviewing your trees we felt like you don't actually realize what you're doing. This commit for example, do you realize whats ih8sn for? (itsxrp/device_oplus_sm8350-common@f1a75ce56f9f2ae35ca8dbda57b5d0bf2ccce797).

You can apply again in the future whenever you've gained more experience.

[2022-11-19 19:43] #119 closed, assigned to spkal01, whyredfire

[2022-11-19 19:51] whyredfire commented on #120
Hi, while reviewing your trees we couldn't see much of what we would consider a reasonable experience/knowledge.
You can apply again in the future whenever you've gained more experience.

[2022-11-19 19:51] #120 closed, assigned to spkal01, whyredfire

[2022-11-19 20:05] whyredfire commented on #121
Hi, please consider cleaning up your RemovePackages list as it contains a lot of packages which aren't being shipped like OPScreenRecord.

[2022-11-19 20:05] #121 closed, assigned to spkal01, whyredfire

[2022-11-21 13:29] itsxrp commented on #119
Really rejected due to this ih8sn commit?
And whats actually wrong with it.Can u please explain a bit.

Thanks

[2022-11-29 08:56] miwu04 opened #122 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/Spark-Rom/official_devices/